<form #userForm="ngForm">
<h1>Nombre</h1>
<input type="text" class="form-control" name="name" [(ngModel)]="userObj.name">
<h1>Email</h1>
<input type="text" class="form-control" name="email" [(ngModel)]="userObj.email">
<br>
<br>
<button type="submit" (click)="submit(userForm.value)" *ngIf=!isEdit>Agregar</button>
<button type="submit" (click)="updateUser()" *ngIf=isEdit>Actualizar</button>
<br>
<br>
</form>
<div>
  <table>
    <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Email</td>
      <td colspan="2">Acciones</td>
    </tr>
    <tr *ngFor="let item of usuarios" id="{{item.id}}"> 
      <td>{{ item.id }}</td>
      <td>{{ item.name}}</td>
      <td>{{ item.email}}</td>
      <td><button (click)="borrar(item)">Eliminar</button></td>
      <td><button (click)="update(item)">Modificar</button></td>
    </tr>
  </table>
</div>